header{
    background-color: whitesmoke;
    padding: 0;
    border-bottom: 1px solid rosybrown;
}
a{
    color:rgb(61, 126, 200);

}
a:hover{
    background-color: antiquewhite;
    color: blue;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
a.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    padding: 1em;
    justify-content: center;
    display: flex;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a {
    padding: 1em;
    display: inline-block;
}